<div class="jumbotron">
  <h1>Welcome Rush Employee</h1>
  <p class="lead">
    <img src="images/Note.png" alt="Rush"><br>
    Find your job. Find your people.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Tech Support Help!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">

<p>Login or Register with:</p>

    <a href="#/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
    <a href="#/auth/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>


  <h4>Request IT Tech Support</h4>
  <p>
    Instantly request Tech support and know your request will be handled as soon as possible.
  </p>

  <h4>Time off Request</h4>
  <p>
    Instantly submit a Time Off Request form.
  </p>

  <h4>Time Cards</h4>
  <p>Fill out and instantly submit a time card. </p>
</div>
