<ng-include src="'views/timeoffreq-nav.html'"></ng-include>
<strong>Name:</strong><h3>{{ timeoff.name }}</h3>
<strong>Office Location:</strong><h3>{{ timeoff.location }}</h3>
<!--<p><youtube src="movie.url"></youtube></p>-->

<strong>Requesting Time Off from:</strong><h3>{{ timeoff.dateawayfrm }}</h3>
<strong>Requesting Time Off to:</strong><h3>{{ timeoff.dateawayto }}</h3>
<h3>{{ timeoff.absensefrm }}</h3>
<h3>{{ timeoff.absenseto }}</h3>
<h3>{{ timeoff.applyto }}</h3>
<h3>{{ timeoff.absensereason }}</h3>
<h3>{{ timeoff.absensereportedto }}</h3>
<h3>{{ timeoff.absensevia}}</h3>
<h3>{{ timeoff.absensereporteddate }}</h3>
<h3>{{ timeoff.signature }}</h3>
<h3>{{ timeoff.date }}</h3>
					